<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="RegFormStyle.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link href="css/bootstrap.min.css" rel="stylesheet">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.0.7/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
<style>
    #deposit {
        float: left
    }

    #withdraw {
        float: right
    }
</style>

<div ng-controller="BankController" class="container"
     style="background-color: aliceblue">
    <div align="right">
        <input ng-controller="LogoutController" ng-click="logout()" type="button" name="logout"
               class="btn btn-primary" value="Logout" id="logout">
    </div>

    {{currentAmount}} $

    <Form>
        <p></p>

        <div class="btn-group btn-group-xs">

            <div class="input-group">
                <input type="text" class="form-control" placeholder="enter amount"
                       data-ng-model="account.transactionAmount">
                <span class="input-group-addon glyphicon glyphicon-usd"></span>
            </div>
            <p></p>

            <div>
                <input type="button" ng-click="deposit()" class="btn btn-default btn-xs" value="Deposit"
                       style="font-style: italic" id="deposit">

                <input type="button" ng-click="withdraw()" class="btn btn-default btn-xs"
                       value="Withdraw"
                       id="withdraw" style="font-style: italic">
            </div>
        </div>
    </Form>
</div>