<style>
    #deposit {
        float: left
    }

    #withdraw {
        float: right
    }
</style>

<div ng-controller="BankController" class="container"
     style="background-color: aliceblue">
    <div align="right">
        <input ng-controller="LogoutController" ng-click="logout()" type="button" name="logout"
               class="btn btn-primary" value="Logout" id="logout">
    </div>
    
        <span style="color: red">{{transactionError}}</span>
    <div align="center">
        <span class="glyphicon glyphicon-user"></span>
    </div>
    {{currentAmount}} $

    <Form>
        <p></p>

        <div class="btn-group btn-group-xs">

            <div class="input-group">
                <input type="text" class="form-control" placeholder="enter amount"
                       data-ng-model="account.transactionAmount">
                <span class="input-group-addon glyphicon glyphicon-usd"></span>
            </div>
            <p></p>

            <div>
                <input type="button" ng-click="deposit()" class="btn btn-default btn-xs" value="Deposit"
                       style="font-style: italic" id="deposit">

                <input type="button" ng-click="withdraw()" class="btn btn-default btn-xs"
                       value="Withdraw"
                       id="withdraw" style="font-style: italic">
            </div>
        </div>
    </Form>
</div>